<div class="container">
    <app-linea [titulo]="'Nombre'" [valor]="nombre" ></app-linea> 
    <app-linea [titulo]="'Apellidos'" [valor]="apellidos" ></app-linea> 
    <app-linea [titulo]="'Email'" [valor]="email" ></app-linea> 
    <!-- <p>
        <span class="titulo">Nombre: </span> <span class="valor">{{nombre}}</span>
    </p>
    <p>
        <span class="titulo">Apellidos: </span> <span class="valor">{{apellidos}}</span>
    </p>
    <p>
        <span class="titulo">Email: </span> <span class="valor">{{email}}</span>
    </p> -->
</div>